.moment__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 71px;
  line-height: 81px;
  text-align: center;
  color: #49464F;
  margin: 0 0 34px;
  padding: 0;
}