.promo__title {
  margin: 0;
  padding: 0;
  font-size: 79px;
  line-height: 81px;
  letter-spacing: 2.7px;
  color: #49464F;
  max-width: 520px;
  margin-bottom: 46px;
  text-align: center;
}

.promo__title:first-of-type {
  margin-bottom: 22px;
}
