.repair {
  min-height: 900px;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 188px;
  display: flex;
  flex-direction: column;
  background-image: url('../../images/Rectangle\ \(2\).svg');
  background-size: 110%;
  background-position-y: 70px;
  background-position-x: -70px;
}
